@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --alorica-blue: #003A63;
  --alorica-orange: #f58025;
  --alorica-bg: #e5f1fc;
}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--alorica-blue);
}

.svg-icon circle {
  stroke: var(--alorica-blue);
  stroke-width: 1;
}

/* Loading spinner */
.lds-dual-ring {
  display: inline-block;
  width: 2em;
  height: 2em;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 6px solid var(--alorica-orange);
  border-color: var(--alorica-orange) transparent var(--alorica-orange) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}