@media screen and (min-width: 1024px) {
    .chatbotWindow {
        width: 400px;
    }
}

@media screen and (max-width: 1023px) {
    .chatbotWindow {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
}

.chatbotWindow {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    background-color: white;
    border-radius: 8px;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.header {
    display: flex;
    direction: row;
    border-bottom: 1px solid lightgray;
    height: 5em;
}

.introIcon {
    margin-top: 0.5em;
    margin-left: 1em;
    display: block;
    max-height: 3em;
    max-width: 3em;
}

.introIcon:hover {
    cursor: pointer;
    background-color: var(--alorica-orange);
    border-radius: 4px;
}

.intro {
    margin-top: 0.5em;
    margin-right: 1em;
    margin-left: 2em;
    display: flex;
    flex-direction: column;
    max-height: 3em;
}

.emphasized {
    font-weight: 700;
    font-size: 14pt;
}
  
.messageHistory {
    max-height: 70vh;
    overflow-y: auto;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.message {
    display: flex;
    direction: row;
    min-height: 3em;
    width: 100%;
    flex-shrink: 0;
 }

.chatIcon {
    margin-top: 0.5em;
    margin-left: 1em;
    display: block;
    max-height: 2em;
    max-width: 2em;
    min-width: 2em;
    min-height: 2em;
}

.messageText {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    margin-left: 2em;
    margin-right: 1em;
    justify-content: end;
    flex-grow: 1;
    overflow-wrap: anywhere;
}

.gray {
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: lightgray;
    padding: 0.5em;
}

.blue {
    border: 1px solid lightskyblue;
    border-radius: 4px;
    background-color: lightskyblue;
    padding: 0.5em;
}
  
.inputForm {
    margin-left: 1em;
    margin-right: 1em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
  
.chatInput {
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    flex-grow: 0.9;
    border: 1px solid lightgray;
    border-radius: 4px;
}
  
.submitButton {
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 4px;
}
  
.submitButton:hover {
    stroke: white;
    fill: white;
    background-color: var(--alorica-orange);
}

.closedChatIcon {
    width: 4em;
    height: 4em;
    animation: wiggle 2.5s infinite;
}

.closedChatIcon:hover {
    cursor: pointer;
    background-color: var(--alorica-orange);
    border-radius: 8px;
}